import(stats)

S3method(fitted, stratasphereFit)
S3method(resid, stratasphereFit)
S3method(coef, stratasphereFit)
S3method(print, stratasphereFit)
S3method(summary, stratasphereFit)
S3method(fitted, stratastepFit)
S3method(resid, stratastepFit)
S3method(coef, stratastepFit)
S3method(print, stratastepFit)
S3method(plot, stratastepFit)

export(Stratasphere)
export(StratasphereFit)
export(StratasphereStep)
export(StratasphereBoost)
export(StratasphereControl)
export(StratasphereIntercept)
export(FitStep)